{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

    {% block content %}
   <main>
       <div class="login-form">
           <h1>Login</h1>
           <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit">Login</button>
           </form>
       </div>
   </main> 
   {% endblock %}